<TITLE>LaTeX2e class for A&amp;A</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<FONT SIZE=+2 FACE="ARIAL"><B>LaTeX2e v7.0 class for Astronomy &amp; Astrophysics</A></B></FONT>
<HR>
<P>
<FONT SIZE=+2><EM>What's New in AA v7.0 (January 2010)</EM></FONT>
</P>
- The 2010 update is now compatible with the new version of the Natbib
package, version 2009/02/02 8.3.
<P>
- The authors' institutes can also be given using labels, so that there is
no need to rewrite the full institutes list if the order of the authors
changes during the evaluation process.
<P>
- Notes to tables: This new version includes new commands to format the
table notes in the proper A\& A layout.
<P>
The following files are part of the macro package AA
<UL>
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/readme.txt">readme.txt</a>: Information (equivalent to this page)
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/aa.cls">aa.cls</a>: The document class file
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/aadoc.pdf">aadoc.pdf</a>: User's Guide (pdf)
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/aa.dem">aa.dem</a>: Example of an article (LaTeX source)
<UL>
<P><LI>Directory for BIBTeX style
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/bibtex/aa.bst">aa.bst</a>: Bibliography style file
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/bibtex/natbib.sty">natbib.sty</a>: This package reimplements
the LaTeX \cite command
<P><LI><a href="http://ftp.edpsciences.org/pub/aa/bibtex/natnotes.pdf">natnotes.pdf</a>: Brief reference sheet for Natbib (pdf)
</UL>
</UL>
All files are compressed in a single archive:<BR>
<a href="http://ftp.edpsciences.org/pub/aa/aa-package.tar.gz">aa-package.tar.gz</a>
<P>
<HR>
History
<HR>
The new 2001 Astronomy and Astrophysics journal.
<BR>

In order to ensure the smoothest transition for both authors and publishers,
Springer-Verlag has kindly granted EDP Sciences the permission to use the
LaTeX macro package that they developed for A&A Main journal.
<BR>

Only  minor changes have been incorporated between the Springer class (1999)
and the EDP Sciences class for the new journal.
<BR>
Please, note:
<BR>
- that the abstract is now a command (\abstract{...}) and not an environment,  
so the \maketitle command has to be placed after the abstract and the keywords
<BR>
- and that the command \thesaurus does no longer exist.
<BR>

The journal is now printing using the Postscript TX Times-fonts. 
<BR>
The TX fonts consist of virtual text roman fonts using Adobe Times with some 
modified and additional text symbols. 
<BR>
The TX fonts are distributed under the GNU public license and are available 
in the LaTeX distributions since December 2000.
<BR>
In any case, these fonts and the installation guide are also available in 
every public TeX archive server, i.e.:
<BR>

http://www.tug.org/tex-archive/fonts/txfonts/
<BR>
ftp://ftp.dante.de/tex-archive/fonts/txfonts/
<BR>
ftp://ftp.tex.ac.uk/tex-archive/fonts/txfonts/
<BR>

Please contact your system administrator to install it. 
<BR>

Since this change of fonts results in a slightly different page make-up from 
CM fonts, we encourage you to use TX fonts.
To proceed, all you need is: 
<BR>
\documentclass{aa}
<BR>
\usepackage{txfonts}
<BR>
... 
<BR>
</BODY>

